<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Insieme is catalogue restaurant built for you to have good food 'cause the good food is happines">
  <meta name="keywords" content="Rifandani Resto" />
  <meta name="theme-color" content="#db2a2a" />
  <title>Insieme</title>
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="icon/icon-192x192.png" />
  <link rel="manifest" href="manifest.json" />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Indie+Flower&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.css" />
  <script
  src="https://use.fontawesome.com/b070c8f1df.js"
  crossorigin="anonymous"
></script>
</head>

<body>
  <!-- skip-link -->
  <a href="#main-content" class="skip-link">Menuju ke konten</a>

  <header class="hero">
    <!-- app-bar -->
    <app-bar class="nav"></app-bar>
    <!-- hero-->
    <my-hero class="hero__inner"></my-hero>
  </header>
  <!-- main content -->
  <main id="main-content"></main>
  <!-- custom-footer-->
  <my-footer></my-footer>
  
</body>

</html>